.container {
  display: flex;
  justify-content: center;
}

.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.toDosContainer {
  background-color: #ffffff;
  width: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  color: #ff8542;
  font-size: 28px;
  margin-top: 40px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
